/* .list-item {
  transition: background-color 0.3s ease;
  
}

.list-item:hover {
  background-color: #444444;
} */

.thumbnail {
 

  /* vertical-align: middle; */
  border-radius: 6px;
  object-fit: cover;
  border: 1px solid #dcdcdc;
}

/* .deal {
  display: inline-block;
  padding: 2px 6px;
  background-color: rgb(255, 111, 0);
  color: white;
  border-radius: 5px;
  margin-left: 5px;
} */

table {
  /* width: 100%;
  border-collapse: collapse; */
  /* table-layout: fixed; */
}

