.footer {
  /* background-color: #333; /* Dark background for contrast */
  /* color: white; White text for readability */
  height: auto;
  text-align: center; /* Center align text */
  padding: 20px; /* Padding for space inside the footer */
  position: fixed; /* Fix the footer at the bottom */
  width: 100%; /* Full width */
  bottom: 0; /* Align to the bottom of the viewport */
  left: 0;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #f3f3f3;
}

.footer a {
  margin: 1rem 1rem;
  color: #4a647e; /* Link color */

  text-decoration: none; /* Remove underline from links */
}

.footer a:hover {
  color: #507597; /* Darker link color on hover */
}

hr {
  color: #4a647e;
  margin-bottom: 1rem;
}

/* .footer-cont {
  position: absolute;
  bottom: 0;
  border-top: 1px solid #000000;
  width: 80vw;
  height: inherit;
  z-index: 1;
} */
